{% block title %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>editar usuarios</title>
<link rel="stylesheet" href="../../static/css/edit_kit.css" />
{% endblock %} {% extends "layouts/layout.html" %} {% block content %}

<div class="edit-kit--container">
  <div class="edit-kit--card">
    <div class="edit-kit--card-head">Editar Kit</div>
    <form class="edit-kit--card-body" action="{{ url_for('edit_given_kit') }}">
      <input type="text" name="kit_id" value="{{ kit.id }}" class="kit-id" />
      <p>Nome:</p>
      <input
        type="text"
        name="kit_name"
        placeholder="{{ kit.name }}"
        value="{{ kit.name }}"
        class="edit-kit--card-body--input"
      />
      <p>Usuário:</p>
      <input
        type="text"
        name="user_name"
        value="{{ user_name }}"
        placeholder="{{ user_name }}"
        class="edit-kit--card-body--input"
      />
      <input type="submit" value="Editar" class="edit-kit--card-body--btn" />
    </form>
  </div>
  {% if error_message %}
  <div class="error-message">{{ error_message }}</div>
  {% endif %}
</div>

{% endblock %}
