<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensores</title>
  </head>

  <body>
    {% extends "layouts/layout.html" %} {% block content%}
    <div class="vertical-center">
      <div class="container view">
        <div class="justify-content-center">
          <caption>
            Sensores:
          </caption>
          {% if sensors|length > 0 %}
          <table
            id="view_users"
            class="table table-striped table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>User name</th>
                <th>Kit name</th>
                <th>Sensor name</th>
                <th>Value</th>
                <th>ID</th>
                <th>Topic</th>
                {% if user == 'lucas' %}
                <th>Deletar</th>
                {% endif %}
              </tr>
            </thead>

            <tbody>
              {% for sensor in sensors %}
              <tr>
                <td>{{ sensor.user_name }}</td>
                <td>{{ sensor.kit_name }}</td>
                <td>{{ sensor.device_name }}</td>
                <td>{{ sensor.device_value }}</td>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.topic }}</td>

                {% if user.role == 'admin' %}
                <td>
                  <a href="/del_sensor?sensor={{ sensor.device_id }}"
                    >Deletar</a
                  >
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if user.role == 'admin' %}
          <form action="/register_sensors">
            <p><input type="submit" value="Adicionar Sensores" /></p>
          </form>
          {% endif %} {% else %}
          <p>Ainda não há sensores registrados!</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock%}
  </body>
</html>
