<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% extends"layouts/template.html" %}
  {% block content%}
  <div class="vertical-center">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <form action="/add_actuator" method="POST">
              <p>Nome:</p>
              <p><input type="text" name="name" placeholder="Name" required /></p>
              <p>Condição:</p>
              <p><input type="text" name="condition" placeholder="Condition" required /></p>
              <p><input type="submit" value="Cadastrar" /></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock%}
  </form>
</body>

</html>