.home--box {
  height: 90vh;
  width: 100vw;
  background-color: var(--custom-light);
}

.hello {
  font-size: 18px;
  color: var(--custom-dark);
}

.name {
  font-size: 24px;
  font-weight: 600;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  height: 90%;
}

.col-span-full {
  grid-column: span 12;
}

.col-span-8 {
  grid-column: span 8;
}

.custom-card:nth-child(1),
.custom-card:nth-child(2) {
  grid-column: span 6;
}

.custom-card:nth-child(4) {
  grid-column: span 4;
}

.custom-card {
  /* box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.1);*/
  background-color: var(--card-surface);
  border: solid #d9d9d9 1px;
  color: var(--custom-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card--header {
  background-color: var(--card-head);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--title {
  font-size: 25px;
  font-weight: 600;
}

.card--link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--custom-blue);
  padding: 5px 15px;
  border-radius: 999px;
  color: #fff !important;
}

.card--link:hover {
  scale: 1.01;
}

.card--link i {
  color: #fff !important;
}

.card--content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.capacity-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.capacity-level-container {
  width: 100px;
  height: 80%;
  border: #d9d9d9 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.capacity-level {
  width: 100%;
  border-top: #d9d9d9 1px solid;
}

.yellow {
  background-color: #ffd335;
}

.green {
  background-color: #97f150;
}

.red {
  background-color: red;
}

.capacity-title,
.temperature-air-text,
.users-text {
  font-size: 25px;
}

.capacity-count,
.temperature-count,
.users-count {
  font-size: 40px;
  font-weight: 600;
}

.temperature-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.temperature-level-container {
  width: 100px;
  height: 80%;
  border: #d9d9d9 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: end;
  overflow: hidden;
  position: relative;
}

.temperature-level {
  width: 100%;
  border-top: #d9d9d9 1px solid;
}

.temperature-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.temperature-air {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.temperature-air-turn {
  font-size: 24px;
  font-weight: 600;
}

.users-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.users-count {
  margin: 0 20px;
}

.users-text {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

.custom-separator {
  height: 1px;
  width: 100%;
  background-color: var(--custom-dark);
}

.kits-content {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 100px;
  overflow-y: scroll;
}

table {
  width: 90%;
  color: var(--custom-dark);
  border-spacing: 10px;
  width: 100%;
  height: 90%;
  overflow: scroll;
}

thead {
  border-bottom: 2px solid var(--custom-dark);
}

tr {
  border-bottom: 1px solid var(--custom-dark);
  height: 50px;
}

.people-info {
  display: none;
}
