* {
  padding: 0px;
  margin: 0px;
}

.vertical-center {
  width: 100vw;
  height: 90vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.image-container {
  width: 100vw;
  height: 55vh;
  background-image: url(../img/healthcare.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  height: 30vh;
}

.container > div {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0d0d0d;
  border-radius: 15px;
}

.container > div > p {
  font-size: 22px;
  font-weight: 600;
}

.container > div > div {
  height: 60%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > div > div > img {
  height: 90%;
}
