body {
  height: 100vh;
  width: 100vw;
  background-color: var(--custom-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

i {
  font-size: 40px;
  color: var(--custom-dark);
}

.login-container--outer {
  display: flex;
  padding: 7vh 0.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 52vh;
  width: 25vw;
  background-color: var(--card-surface);
  border: 1px solid var(--card-border);
  padding: 20px 0px;
  border-radius: 25px;
}

.login-container > form {
  height: 50vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.login--error-message {
  background-color: #eb5939;
  height: 5vh;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.login-container > form > button {
  background-color: var(--custom-blue);
  border: none;
  width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s all ease;
}

.login-container > form > button:hover {
  transform: scale(1.03);
  filter: brightness(85%);
}

input {
  width: 70%;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: 1.5px solid var(--card-head);
  border-radius: 5px;
}
