<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% extends"layouts/layout.html" %}
  {% block content%}
  <div class="vertical-center">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            

            <form action="/update_actuator" method="POST">
              <p>Actuator ID:</p>
              <p><input type="text" name="actuator_id" placeholder="Actuator ID" required /></p>
              
              <p>Name:</p>
              <p><input type="text" name="name" placeholder="Name" required /></p>
              
              <p>Value:</p>
              <p><input type="text" name="value" placeholder="Value" required /></p>
              
              <p>Topic:</p>
              <p><input type="text" name="topic" placeholder="Topic" required /></p>
              
              <p><input type="submit" value="Cadastrar" /></p>
          </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock%}
  </form>
</body>

</html>