{% block title %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/landing.css">
<title>GWS</title>
{% endblock %}

{% extends "layouts/layout.html" %}
{% block content %}
<div class="landing--body">
  <div class="landing--body--left">
    <div class="h2-container">
      <h2>GASPERIN WEB SERVICES</h2>
    </div>

    <div class="span-container">
      <span>Inove sua empresa para o benefício</span>
      <span>do seu cliente.</span>
    </div>

  </div>
  <div class="landing--body--right" id="landingImage"></div>
</div>
{% endblock %}
