{% block title %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Usuários</title>
<link rel="stylesheet" href="../../static/css/users.css" />
{% endblock %} {% extends "layouts/layout.html" %} {% block content%}
<div class="users--container">
  <div class="users--table">
    <div class="user--table--head">
      <span>Lista de usuários</span>
    </div>
    <div class="user--table--description">
      <div>
        <span>Nome</span>
      </div>
      <div>
        <span>Role</span>
      </div>
      <div>
        <span>Ações</span>
      </div>
    </div>
    {% for user in users %}
    <div class="user--card">
      <div class="user-name">
        <span>{{ user.name }}</span>
      </div>
      <div class="user-role">
        <span>{{user.role}} </span>
      </div>
      <div class="user-actions">
        <a class="user-edit" href="/edit_user?user_id={{ user.id }}">Editar</a>
        <a class="user-delete" href="/delete_user?user_id={{ user.id }}"
          >Deletar</a
        >
      </div>
    </div>
    {% endfor %}
    <div class="add-user-div">
      <a
        href="/register_user"
        class="add-user-btn"
        onmouseover="activateCursor()"
        onmouseleave="deactivateCursor()"
        >Adicionar novo usuário</a
      >
    </div>
  </div>
</div>
{% endblock%}
